* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #234d52;
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 40em;
  max-width: 99vw;
  border: 5px solid #234d52;
  border-radius: 15px;
  margin: 0 auto;
  background: linear-gradient(to right, #57C785, #326E76);
}

body footer a {
  color: white;
  text-decoration: underline;
}

body footer img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  h2 {
    font-size: medium;
  }
}

@media (max-width: 350px) {
  h2 {
    font-size: small;
  }
}
