.category .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category .links li.link {
  max-width: 95%;
  padding: 0;
  list-style: none;
  margin: 5px 0;
}

.category .links li.link:last-child {
  margin-bottom: 20px;
}

.category .links li.link a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30em;
  max-width: 100%;
  min-height: 4em;
  padding: 0.5em 1em;
  border: 2px solid #234d52;
  border-radius: 50px;
  background-color: white;
  text-decoration: none;
  color: #326e76;
}

.category .links li.link a:hover, .category .links li.link a:active, .category .links li.link a:focus {
  color: #142b2e;
  text-decoration: underline;
}

.category .links li.link a:visited {
  color: #326e76;
}

.category .links li.link a .link-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.category .links li.link a .link-text {
  display: block;
  width: 100%;
  padding-right: 30px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #326e76;
  text-align: center;
}

#email img {
  width: 50px;
  height: 50px;
}

@media (max-width: 500px) {
  .category .links li.link a .link-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .category .links li.link a .link-text {
    padding-right: 25px;
    font-size: 1rem;
  }
}
